.customers-table-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.main{
  margin-left: 200px;
}

.mb-3 h3{
  color: #000;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 155px;
  max-width: none;
}

table thead {
  background-color: #f1f1f1;
  font-weight: bold;
}

td a {
  margin-right: 1rem; 
}

@media (max-width: 768px) {
  .main{
  margin-left: 60px;
}
  table th, table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 100px;
  max-width: none;
}
}