{% load static %}

<!-- Sidebar -->
<aside id="sidebar" class="sidebar">
    <div class="h-100">
        <!-- Logo -->
        <div class="sidebar-logo">
            <div class="vertical-line"></div>
            <span class="logo-text">PizzaCRM</span>
        </div>

        <!-- User Info -->
        <div class="user-info">
            <strong>Admin 1</strong>
            <small>Admin</small>
        </div>

        <!-- Sidebar Navigation -->
        <ul class="nav-links">
            <li><a href="#"><i class='bx bx-home'></i> <span>Home</span></a></li>
            <li><a href="#"><i class='bx bx-purchase-tag'></i> <span>Promotion</span></a></li>
            <li><a href="#" class="active"><i class='bx bx-user'></i> <span>Customers</span></a></li>
            <li><a href="#"><i class='bx bx-wallet'></i> <span>Payment</span></a></li>
            <li><a href="#"><i class='bx bx-grid-alt'></i> <span>Dashboard</span></a></li>
            <li><a href="#"><i class='bx bx-cog'></i> <span>Settings</span></a></li>
        </ul>

        <!-- Logout -->
        <div class="logout-section">
            <a href="{% url 'home' %}" class="logout-link"><i class='bx bx-log-out'></i> <span>Logout</span></a>
        </div>
    </div>
</aside>